div.header {
    display: flex;
    justify-content: flex-end;
}

h1,input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:5px;
}

form {
    display: flex;
    flex-direction: column;
    align-items:center;
}